@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Lora:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply font-sans bg-sand-beige text-deep-sea-blue;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-serif;
  }
}

.elegant-popup .maplibregl-popup-content {
  background-color: #F4E9D8; /* sand-beige */
  border-radius: 8px;
  padding: 10px 15px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
  border: none;
}

.elegant-popup .maplibregl-popup-tip {
  border-top-color: #F4E9D8;
}